{% extends 'base.html.twig' %}

{% block title %}AGBank - Agência {{ agencia.nome|default('') }}{% endblock %}

{% block body %}
<div class="">
    {% if agencia %}
        <h1>Informações da Agência:</h1>
        <div>
            <li><strong>Nome: </strong> {{ agencia.nome|default('--') }} </li>
            <li><strong>Código: </strong> {{ agencia.codigo|default('--') }} </li>
            <li><strong>Gerente: </strong> {{ agencia.gerente.nome|default('--') }} </li>
            <li><strong>Telefone: </strong> {{ agencia.telefone|default('--') }} </li> 
            <li><strong>Endereço: </strong> {{ agencia.endereco|default('--') }} </li>
        </div>
        <div>
            {# CRIAR CLASSE "CONTA" E CHAMAR AQUI PARA ABRIR NOVAS CONTAS #}
            <button class="btn-abrir-conta">Desejo abrir uma conta nesta agência</button>
        </div>
    {% else %}
        <br>
        <h1>Esta Agência não existe na base de dados!</h1>
        <h2>Retorne para a página inicial <a href= "{{ path('app_listar_agencias') }}">clicando aqui</a></h2>  
    {% endif %}
</div>
{% endblock %}