{% extends 'base.html.twig' %}

{% block title %}AGBank - Agência {{ agencia.nome|default('') }}{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {% if agencia %}
        <h1>Informações da Agência:</h1>{# ✅</h1> #}
        <div>
            <li><strong>Nome: </strong> {{ agencia.nome|default('--') }} </li>
            <li><strong>Código: </strong> {{ agencia.codigo|default('--') }} </li>
            <li><strong>Gerente: </strong> {{ agencia.gerente.nome|default('--') }} </li>
            <li><strong>Telefone: </strong> {{ agencia.telefone|default('--') }} </li> 
            <li><strong>Endereço: </strong> {{ agencia.endereco|default('--') }} </li>
        </div>
        <div>
            {# CRIAR CLASSE "CONTA" E CHAMAR AQUI PARA ABRIR NOVAS CONTAS #}
            <button class="block w-1/2 shadow-sm border-transparent bg-indigo-600 hover:bg-indigo-700 dark:bg-indigo-500 dark:hover:bg-indigo-400 text-white rounded-md border p-2 mt-4 mb-2">Desejo abrir uma conta nesta agência</button>
        </div>
    {% else %}
        <br>
        <h1>Esta Agência não existe na base de dados!</h1>
        <h2>Retorne para a página inicial <a href= "{{ path('app_listar_agencias') }}">clicando aqui</a></h2>  
    {% endif %}
</div>
{% endblock %}