{% extends 'base.html.twig' %}

{% block title %}AGBank - Agência {{ agencia.nome|default('') }}{% endblock %}

{% block body %}
<div class="">
    {% if agencia %}
        <div class="text-teal-700 text-2xl block w-full align-middle py-2">Informações da Agência:</div>
        <div class="pt-2">
            <li><strong>Nome: </strong> {{ agencia.nome|default('--') }} </li>
            <li><strong>Código: </strong> {{ agencia.codigo|default('--') }} </li>
            <li><strong>Gerente: </strong> {{ agencia.gerente.nome|default('--') }} </li>
            <li><strong>Telefone: </strong> {{ agencia.telefone|default('--') }} </li> 
            <li><strong>Endereço: </strong> {{ agencia.endereco|default('--') }} </li>
        </div>
        <div>
            <button class="block w-1/3 shadow-sm border-transparent bg-indigo-600 hover:bg-indigo-700 dark:bg-indigo-500 dark:hover:bg-indigo-400 text-white rounded-md border p-2 mt-4 mb-2" onClick="window.location.href = '{{ path('app_editar_agencia', {id:agencia.id}) }}'">Editar dados da agência</button>
        </div>
        <div>
            <button class="block w-1/3 shadow-sm border-transparent bg-indigo-600 hover:bg-indigo-700 dark:bg-indigo-500 dark:hover:bg-indigo-400 text-white rounded-md border p-2 mt-4 mb-2" onClick="window.location.href = '{{ path('app_criar_conta') }}'">Desejo abrir uma conta nesta agência</button>
        </div>
    {% else %}
        <br>
        <h1>Esta Agência não existe na base de dados!</h1>
        <h2>Retorne para a página inicial <a href= "{{ path('app_listar_agencias') }}">clicando aqui</a></h2>  
    {% endif %}
</div>
{% endblock %}