{% extends 'base.html.twig' %}

{% block title %}AGBank{% endblock %}

{% block body %}

<div class="align-middle">
    <div class="mt-4 mb-4 align-middle">
        <div class="text-teal-900 text-4xl">Bem vindo ao AGBank 
            <div class="text-3xl inline items-center">✅
            </div>
        </div>
    </div>
    <div class="text-teal-700 text-xl mb-5">Veja nossas agências:<hr></div>
    <div>
        {% for key, agencia in agencias %}
            {# <button onClick="window.location.href = '{{ path('app_agencia', {id:key}) }}'" style="padding: 2px;"> #}
            <div class="block w-1/3 shadow-sm border-transparent bg-sky-500 hover:bg-indigo-600 dark:bg-indigo-500 dark:hover:bg-indigo-400 text-white rounded-md border p-2 mt-5 mb-2">
            <a href='{{ path('app_agencia', {id:key}) }}'>
                <h3>Agência {{agencia.nome}}</h3>
            {# </button><hr> #}
            </a></div><h4>{{ agencia.endereco }}</h4><hr>
        {% endfor %}
    </div>
    <div> {# CRIAR NOVA AGÊNCIA - PERMITIDO APENAS PARA O PERFIL ADMINISTRADOR #}
        <button class="block w-full shadow-sm border-transparent bg-indigo-600 hover:bg-indigo-700 dark:bg-indigo-500 dark:hover:bg-indigo-400 text-white rounded-md border p-2 mt-4 mb-2" onClick="window.location.href = '{{ path('app_criar_agencia') }}'">Criar nova Agência</button> 
    </div>
    {# CRIAR ROTA DA TELA PARA PÚBLICO PODER FAZER DEPÓSITO EM ALGUMA CONTA #}
    {# <div> 
        <button class="block w-full shadow-sm border-transparent bg-indigo-600 hover:bg-indigo-700 dark:bg-indigo-500 dark:hover:bg-indigo-400 text-white rounded-md border p-2 mt-4 mb-2" onClick="window.location.href = '{{ path('app_criar_agencia') }}'">Efetuar depósito</button> 
    </div> #}
</div>
{% endblock %}
