<div>
    <div class="w-full flex items-center align-middle pt-3">
        <div class="text-teal-700 text-2xl block w-full align-middle">{{ acao }}</div>
    </div>
    <hr class="p-2 mt-2">    
    {{ form_start(form) }}
    <div>{{ form_errors(form) }}</div>
    
    <div class="block w-1/6">
        {{ form_label(form.valor, 'Valor: ', {'label_attr': {'class': 'block text-sm text-gray-700 dark:text-gray-300 font-medium'}}) }}
        {{ form_widget(form.valor, {'attr': {'class': 'block w-full shadow-sm border-gray-300 dark:border-transparent dark:text-gray-800 rounded-md border p-2 mt-1 mb-2', onkeypress:"return (event.charCode >= 44 && event.charCode <= 57)"}}) }}
        {{ form_errors(form.valor) }}
    </div>    
    <div>
        <button type="submit" class="block w-1/6 shadow-sm border-transparent bg-indigo-600 hover:bg-indigo-700 dark:bg-indigo-500 dark:hover:bg-indigo-400 text-white rounded-md border p-2 mt-4 mb-2">{{ acao }}</button>
    </div>
    {{ form_end(form) }}
</div>
