<!DOCTYPE html>
<html class="bg-slate-100 dark:bg-gray-800">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}AGBank{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>✅</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
         <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body class="bg-slate-100 text-gray-800 dark:bg-gray-800 dark:text-white px-3">
        <div class="w-full md:w-11/12 mx-auto mb-4 flex justify-between items-center rounded-b-md bg-teal-600 p-2 fixed top-0 left-0 right-0">
            <div class="text-base text-teal-50 dark:text-gray-400 flex">
                {% if app.user %}
                    <div class="ml-2 mr-2">
                        <strong>{{ app.user }} </strong>
                        <button class="shadow-sm border-transparent bg-teal-500 hover:bg-teal-700 dark:bg-teal-500 dark:hover:bg-teal-400 text-white rounded-md border px-1" onClick="window.location.href = '{{ path('app_logout') }}'"> Sair </button>
                    </div>
                {% elseif app.request.pathinfo != '/login' %}
                    <div class="ml-2 mr-2">
                        <a href="{{ path('app_login') }}">Fazer login</a>
                    </div>
                {% else %}
                    <div class="ml-2 mr-2">
                        <a href="{{ path('app_listar_agencias') }}">Início</a>
                    </div>
                {% endif %}
            </div>
            <div class="">
                <div class="text-base text-teal-50 dark:text-gray-400 flex">
                    {% if app.request.pathinfo != '/' and app.request.pathinfo != '/login' %}
                        <div class="ml-2 mr-2">
                            <a href="{{ path('app_listar_agencias') }}">Início</a>
                        </div> |
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}  
                    <div class="ml-2 mr-2">
                        <a href="{{ path('app_criar_agencia') }}">Criar Agência</a>
                    </div> |
                    {% endif %}
                    {% if not is_granted('ROLE_ADMIN') %}
                    <div class="ml-2 mr-2">
                        <a href="{{ path('app_depositar_conta') }}">Efetuar Depósito</a>
                    </div> |
                    {% endif %}
                    {% if is_granted('ROLE_USER') and not is_granted('ROLE_GERENTE') %}
                    <div class="ml-2 mr-2">
                        <a href="{{ path('app_perfil') }}">Meu Perfil</a>
                    </div> |
                    {% elseif is_granted('ROLE_GERENTE') %}
                    <div class="ml-2 mr-2">
                        <a href="{{ path('app_gerente') }}">Meu Perfil</a>
                    </div> |
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <div class="ml-2 mr-2">
                            <a href="{{ path('app_listar_gerentes') }}">Ver gerentes</a>
                        </div> |
                    {% endif %}
                    {% if not is_granted('ROLE_ADMIN') %}
                        {% if not is_granted('ROLE_GERENTE') %}
                            <div class="ml-2 mr-2">
                                <a href="{{ path('app_criar_conta') }}">Abrir Conta</a>
                            </div> |
                        {% endif %}
                        {% if app.user %}
                            <div class="ml-2 mr-2">
                                <a href="{{ path('app_listar_contas') }}">
                                {% if is_granted('ROLE_ADMIN') %}Informações de Contas{% elseif is_granted('ROLE_GERENTE') %}Contas da Agência{% elseif is_granted('ROLE_USER') %}Minhas Contas{% endif %}</a>
                            </div> |
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>    
        <div class="w-full md:w-11/12 mx-auto p-1 pt-12">
            {% for message in app.flashes('success') %}
                <div class="rounded-md p-2 border-green-300 bg-green-50 border dark:border-green-600 dark:bg-green-700 dark:text-white mb-4">{{ message }}</div>
            {% endfor %}
            {% for message in app.flashes('error') %}
                <div class="rounded-md p-2 border-red-300 bg-red-50 border dark:border-red-600 dark:bg-red-700 dark:text-white mb-4">{{ message }}</div>
            {% endfor %}
            {% block body %}{% endblock %}
            <div class="h-96"></div>
        </div>        
    </body>
    {% block footer %}
        <footer>
            <div class="bg-slate-100 text-gray-800 dark:bg-gray-800 dark:text-white px-3 pt-6">
                <div class="w-full md:w-11/12 mx-auto mt-4 rounded-t-lg bg-teal-500 p-2 pb-0 bottom-0 left-0 right-0">
                    <div class="text-base text-teal-50 dark:text-gray-400 text-center">
                        AGBank - Sistema Financeiro<br>2023
                    </div>
                </div>
            </div>
        </footer>
    {% endblock %}
</html>
 