{% extends 'base.html.twig' %}

{% block title %}AGBank - Editar Gerente{% endblock %}

{% block body %}
<div>
    <div class="w-full flex items-center align-middle">
        <div class="text-teal-700 text-3xl block w-full align-middle">Editar Gerente</div>
        <div class="text-right block w-full"><button class="order-transparent bg-indigo-600 hover:bg-indigo-700 dark:bg-indigo-500 dark:hover:bg-indigo-400 text-white rounded-md border py-1 px-3" onClick="window.location.href = '{{ path('app_listar_gerentes') }}'">Lista de Gerentes</button></div>
    </div>
    <hr class="p-2 mt-2">    
    {{ form_start(formGerente) }}
    <div>{{ form_errors(formGerente) }}</div>
    
    <table class="w-1/3 justify-between items-center">
        <tr>
            <td colspan="2">
                {{ form_label(formGerente.nome, 'Nome do Gerente: ', {'label_attr': {'class': 'block text-sm text-gray-700 dark:text-gray-300 font-medium'}}) }}
                {{ form_widget(formGerente.nome, {'attr': {'class': 'block w-full shadow-sm border-gray-300 dark:border-transparent dark:text-gray-800 rounded-md border p-2 mt-1 mb-2'}}) }}
                {{ form_errors(formGerente.nome) }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form_label(formGerente.cpf, 'CPF do Gerente: ', {'label_attr': {'class': 'block text-sm text-gray-700 dark:text-gray-300 font-medium'}}) }}
                {{ form_widget(formGerente.cpf, {'attr': {'class': 'block w-full shadow-sm border-gray-300 dark:border-transparent dark:text-gray-800 rounded-md border p-2 mt-1 mb-2'}}) }}
                {{ form_errors(formGerente.cpf) }}
            </td>
            <td>
                {{ form_label(formGerente.matricula, 'Matrícula do Gerente: ', {'label_attr': {'class': 'block text-sm text-gray-700 dark:text-gray-300 font-medium'}}) }}
                {{ form_widget(formGerente.matricula, {'attr': {'class': 'block w-full shadow-sm border-gray-300 dark:border-transparent dark:text-gray-800 rounded-md border p-2 mt-1 mb-2'}}) }}
                {{ form_errors(formGerente.matricula) }}
            </td>
        </tr>
    </table>    
    <div>
        <button type="submit" class="block w-1/3 shadow-sm border-transparent bg-indigo-600 hover:bg-indigo-700 dark:bg-indigo-500 dark:hover:bg-indigo-400 text-white rounded-md border p-2 mt-4 mb-2">Atualizar dados</button>
    </div>
    {{ form_end(formGerente) }}
</div>
{% endblock %}
